.header-global h1.logo img {
  max-height: 40px;
}

.home > header {
  background: url('#{$static-path}/images/bg_smallv3.png');
  background-size: cover;
  background-position: 50%;

  .outer-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .title {
    background: rgba(255, 255, 255, 0.92);

    > .heading-group h1 {
      color: #080808;
      text-shadow: none;
    }

    > .heading-group p {
      color: #4d4d4d;
    }
  }
}

footer#footer-edx-v3 {
  background: #ececec !important;
}

.copyright {
  margin: -2px 0 8px 0 !important;
  font-size: 0.6875em !important;
  line-height: 20.72px;
  color: #767676 !important;
  text-align: left !important;
  margin-bottom: 0 !important;
}

.inline-li {
  display: inline;
  margin-right: 30px;
}

.social-link {
  display: block;
  height: 50px;
  margin-bottom: 0;
  margin-left: 300px;

  hr {
    margin: .5em 0;
  }
}

.social-link li {
  display: inline-flex;
}

.list-inline-social {
  width: 100px;
  padding: 0;
}

.main-row {
  display: inline-flex !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}


footer#footer-edx-v3 {
  .icon {
    font-size: 24px;
  }

  .openedx-link {
    width: 100px !important;
  }

  ul.social {
    margin-top: 3px;
  }
}

.edx-footer-logo {
  align-items: center;

  img {
    height: 50px;
  }
}

.nav-title {
  margin-left: 50px;
}

.copy-div {
  padding: 0;
}

// .nav-legal {
// 	font-size: 11px !important;
// }

.container.about {
  background: #b1e4ff1a;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
  text-align: left;
  border-radius: 3px;
  display: block;
  position: relative;
}

.text-contact {
  margin-left: 10%;
  margin-right: auto;
}

.wings-logo1 {
  background: url('#{$static-path}/images/Wings.png');
  display: block;
  position: absolute;
  right: 300px;
  width: 300px;
  height: 300px;
  bottom: 0px;
}

.wings-logo2 {
  background: url('#{$static-path}/images/wings_big.png');
  display: block;
  position: absolute;
  right: 0px;
  width: 900px;
  height: 600px;
  bottom: -35px;
}

.wings-logo-index {
  background: url('#{$static-path}/images/wings_big_index.png');
  display: block;
  position: absolute;
  right: 0px;
  width: 900px;
  height: 445px;
  bottom: -35px;
}

.about-logo {
  width: 800px !important;
}

.index-logo {
  width: 350px !important;
  bottom: 0px !important;
}

// .content-wrapper{
// 	position: relative !important;
// 	display: block !important;
// }

.text-about {
  display: block;
  float: left;
  position: relative;
  width: 700px;
}

.info-card-logo {
  background: url('#{$static-path}/images/logo_itoo.png');
  position: absolute;
  width: 160px;
  height: 93px;
  vertical-align: middle;
  left: 28.5%;
  top: 10%;
  display: block;
}

.info-card {
  width: 400px;
  height: 400px;
  display: block;
  position: relative;
  left: 720px;
  border-radius: 3px;
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
  background: #f6f6f6cc;
}

.text-card {
  display: block;
  position: absolute;
  left: 28.5%;
  top: 45%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.privacy {
  left: 5% !important;
}

// p{
// 	font-size: 15px !important;
// 	line-height: 20px !important;
// }

// h3 {
// 	color: #3c3c3c !important;
// 	font: normal 1.2em/1em "Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
// 	margin-bottom: 10px !important;
// }

// .text-contact p {
// 	line-height: 5px !important;
// }

// .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, strong, button{
// 	border: none !important;
// 	border-bottom: none !important;
// 	background-image: none !important;
// 	text-shadow: none !important;
// }

// .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, strong, button:hover{
// 	background-image: linear-gradient(to bottom,#0075b4 0%,#004393 100%,#002a84 50%,#002f86 100%);
// 	text-shadow: none !important;
// 	border: none !important;
// 	border-bottom: none !important;
// }

// .course-info header.course-profile {
// 	background: none !important;
//     background-image: none !important;
//     background-size: none !important;
//     box-shadow: none !important;
//     border-bottom: none !important;
//     box-shadow: none !important;
//     height: 100% !important;
//     margin-top: none !important;
//     padding-top: 30px !important;
//     overflow: none !important;
// 	position: none !important;
// 	padding-bottom: 30px !important;
// }

// .course-info header.course-profile .intro-inner-wrapper{
// 	border: none !important;
// }

// .course-info header.course-profile .intro-inner-wrapper .media .hero{
// 	border: none !important;
// 	box-shadow: 0 1px 15px 0 rgba(0,0,0,0.5) !important;
// }

// .header-global.slim .wrapper-header {
// 	height: auto;
// }

// .header-global .wrapper-header .course-header{
// 	width: 45%;
// 	height: auto;
// }

// .doc-link-custom{
// 	float: right;
// 	margin: 15px 15px 15px 15px;
// 	font-size: 14px;
// 	font-weight: bold;
// 	color: #3c3c3c;
// }
// .find-courses .search-facets .toggle button, .courses-container .courses .course .course-info .course-organization, .courses-container .courses .course .course-info .course-code, .courses-container .courses .course .course-info .course-date, .alert:not(.pattern-library-shim) .action-alert-close .icon {
//     font-size: 12px;
// }

// .verification-process .carousel .wrapper-task .controls .control .action .icon, .courses-container .courses .course .course-info .course-title, .wrapper-msg .is-dismissable .action-dismiss .button-dismiss, .alert:not(.pattern-library-shim) .action-dismiss .icon {
//     font-size: 14px;
// }

//.dashboard .main-container .my-courses .course .details .wrapper-course-image {
//  width: unset;
//  max-height: 150px;
//  overflow: visible;
//}

.course-image {
  width: 266px;
  height: 150px;
}

.proctored_exam_status {
  .exam-timer {
    .exam-text {
      display: inline-block;
      width: calc(100% - 350px);
    }
  }
}

#turn_in_exam_id {
  display: flex;
  flex-direction: column-reverse;

  span {
    margin-bottom: .5rem;
  }
}

button.start-timed-exam {
  background-color: #0075b4;
  width: auto;
  padding: .5rem 1rem;

  a {
    font-size: 1.25rem;
    //color:white;
  }
}
