.header-global h1.logo img {
	max-height: 40px;
}

.home > header {
	background: url('#{$static-path}/images/bg_smallv3.png');
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top:150px;
	    padding-bottom:150px;
	}
	.title {
		background:rgba(255, 255, 255, 0.92);

		> .heading-group h1 {
			color: #080808;
			text-shadow: none;
		}
		> .heading-group p {
			color: #4d4d4d;
		}
	}
}
footer#footer-edx-v3 {
    background: #ececec !important;
}

.copyright{
    margin: -2px 0 8px 0 !important;
    font-size: 0.6875em !important;
    color: #767676 !important;
	text-align: left !important;
	margin-bottom: 0 !important;
}

.inline-li{
	display: inline;
	margin-right: 30px;
}

.social-link{
	display: block;
	height: 50px;
    margin-left: 50px;
	margin-bottom: 0;
	margin-inline-start: 500px;
}
.social-link li{
	display: inline-flex;
}

.list-inline {
	width: 100px;
	padding: 0;
}

.main-row {
	display: inline-flex;
}

footer#footer-edx-v3 .icon {
	font-size: 27px;
}

footer#footer-edx-v3 .openedx-link {
	display: block !important;
	margin-left: 0 !important;
	margin-bottom: 10px !important;
	margin-top: 50px !important;
	width: 100px !important;
}

.nav-title{
	margin-left: 50px;
}

.copy-div{
	padding: 0;
	margin-top: 50px;
}

.nav-legal {
	font-size: 11px !important;
}

.container.about{
	background: #b1e4ff1a;
	margin-top: 35px;
	margin-bottom: 35px;
	box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
	text-align: left;
	border-radius: 3px;
	display: block;
	position: relative;
}

.text-contact{
	margin-left: 10%;
	margin-right: auto;
}

.wings-logo1{
	background: url('#{$static-path}/images/Wings.png');
	display: block;
	position: absolute;
	right: 300px;
	width: 300px;
	height: 300px;
	bottom: 0px;
}

.wings-logo2{
	background: url('#{$static-path}/images/wings_big.png');
	display: block;
	position: absolute;
	right: 0px;
	width: 900px;
	height: 600px;
	bottom: -35px;
}

.wings-logo2 .about-logo{
	width: 800px;
}
.content-wrapper{
	position: relative !important;
	display: block !important;
}

.text-about{
	display: block;
	float: left;
	position: relative;
	width: 700px;
}

.info-card-logo{
	background: url('#{$static-path}/images/logo_itoo.png');
	position: absolute;
	width: 160px;
	height: 93px;
	vertical-align: middle;
	left: 28.5%;
	top: 10%;
	display: block;
}

.info-card{
	width: 400px;
	height: 400px;
	display: block;
	position: relative;
	left: 720px;
	border-radius: 3px;
	box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
	background: #f6f6f6cc;
}

.text-card{
	display: block;
	position: absolute;
	left: 28.5%;
	top: 45%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
p{
	font-size: 15px !important;
	line-height: 20px !important;
}