.header-global h1.logo img {
	max-height: 40px;
}

.home > header {
	background: url('#{$static-path}/images/bg_smallv3.png');
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top:150px;
	    padding-bottom:150px;
	}
	.title {
		background:rgba(255, 255, 255, 0.92);

		> .heading-group h1 {
			color: #080808;
			text-shadow: none;
		}
		> .heading-group p {
			color: #4d4d4d;
		}
	}
}