<div class="sequence proctored-exam instructions message-left-bar" data-exam-id="{{exam_id}}" data-exam-started-poll-url="{{exam_started_poll_url}}">

  <div class="">
    <h3>
      Follow these steps to set up and start your proctored exam.
    </h3>
      <p>
          Note: As part of the proctored exam setup, you will be asked
          to verify your identity. Before you begin, make sure you are
          on a computer with a webcam, and that you have a valid form
          of photo identification such as a driver’s license or
          passport.
      </p>
      <p class="instruction">{{instruction|safe}}</p>
    <div class="footer-sequence border-b-0 padding-b-0">
      <a href="#" class="start-proctored-exam">"Start Proctored Exam"</a>
    </div>
  </div>
</div>


<div class="footer-sequence border-b-0 padding-b-0">
    <p class="proctored-exam-instruction">
      <a href="#" class="proctored-decline-exam" data-action="decline" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}">
        "Take this exam without proctoring."
      </a>
    </p>
</div>
{% include 'proctored_exam/footer.html' %}

<script type="text/javascript">

  $('.proctored-decline-exam').click(
    function(e) {
      e.preventDefault();
      e.stopPropagation();

      var action_url = $(this).data('change-state-url');
      var exam_id = $(this).data('exam-id');
      var action = $(this).data('action');

      var msg = gettext(
        "Are you sure you want to take this exam without proctoring?"
      );
      if (!confirm(msg)) {
        return;
      }

      // Update the state of the attempt
      $.ajax({
        url: action_url,
        type: 'PUT',
        data: {
          action: action
        },
        success: function() {
          // Reloading page will reflect the new state of the attempt
          location.reload();
        }
      });
    }
  );

  function check_exam_started() {
    var url = $('.instructions').data('exam-started-poll-url') + '?sourceid=instructions';
    $.ajax(url).success(function(data){
      if (data.status === 'ready_to_start') {
        // we've state transitioned, so refresh the page
        // to reflect the new state (which will expose the test)
        location.reload();
      } else {
          // The proctoring setup is not yet complete.
          // Show a modal indicating that the user is not done yet.
          edx.courseware.proctored_exam.accessibleError(
              gettext("Не удается начать наблюдаемый экзамен"),
              gettext("Прежде чем приступить к экзамену, необходимо завершить настройку прокторинга."),
          );
      }
    });
  }

  $('.start-proctored-exam').click(check_exam_started);

  $("#software_download_link").click(function (e) {
    e.preventDefault();
    var url = $('.instructions').data('exam-started-poll-url');
    var action = $(this).data('action');
    // open the new tab in the click event with an empty URL but show the message.
    var newWindow = window.open("", "_blank");
    $(newWindow.document.body).html("<p>Please wait while you are being redirected...</p>");

    var self = this;
    $.ajax({
      url: url,
      type: 'PUT',
      data: {
        action: action
      },
      success: function (data) {
        newWindow.location = "{{software_download_url|safe}}";
      }
    }).fail(function(){
      newWindow.close();
    });
  });
{{backend_js|safe}}
</script>
