<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>

<div class="text-contact">
    <div>
        <h3>Директор Института технологий открытого образования</h3>
        <p>Карасик Александр Аркадьевич</p>
        <p>Тел.: +7 (343) 375-95-28</p>
        <p>г. Екатеринбург, ул. Мира д.17,
            каб. С-226
        </p>
        <p><a href="mailto:a.a.karasik@urfu.ru" title="Открывается окно почтовой программы для отправки email" class="mail">
            </a>
        </p>
    </div>
    <div>
        <h3>Контакт-центр</h3>
        <p>Тел.: +7 (343) 374-58-42</p>
        <p>Сот.: +7 (919) 36-779-72</p>
        <p>г. Екатеринбург, ул. Мира д.19, каб. И-200</p>
        <p><a href="mailto:itoo.priem@urfu.ru" title="Открывается окно почтовой программы для отправки email" class="mail">
            </a>
        </p>
    </div>
    <div>
        <h3>Деканат</h3>
        <p>+7 (343) 3-754-754</p>
        <p>г. Екатеринбург, ул. Софьи Ковалевской 5, ауд. Т-1204</p>
        <p><a href="mailto:dekanatfdo@urfu.ru" title="Открывается окно почтовой программы для отправки email" class="mail">
            </a>
        </p>
    </div>
</div>
    </section>
    <div class="wings-logo">
    </div>
</main>
