<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>


<div>
    <div>
        <h3>Техническая поддержка</h3>
        <p><a href="mailto:openedu@urfu.ru" title="Открывается окно почтовой программы для отправки email" class="mail">
            </a>
        </p>
        <p>+7 (992) 024-26-58</p>
    </div>
</div>
    </section>
</main>

