## mako
<%!
  import datetime

  from django.utils.translation import ugettext as _
  from branding.api import get_footer

%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>


<footer id="footer-edx-v3" role="contentinfo" aria-label="${_("Page Footer")}"
  ## When rendering the footer through the branding API,
  ## the direction may not be set on the parent element,
  ## so we set it here.
  % if bidi:
    dir=${bidi}
  % endif
>

<div class="container">
    <div class="row main-row"><!-- row -->
                <div class="edx-footer-logo">
                    <a href="${marketing_link('ROOT')}">
                        <img alt="organization logo" src="${static.url("images/logo.png")}">
                    </a>
                </div>

        <div class="nav-title">
             <div class="row full-height">

                 <nav class="nav-colophon" aria-label="${_('About')}">
                              <ul class="list-unstyled clear-margins  ">
                                    % for item_num, link in enumerate(footer['navigation_links'], start=1):
                                    <li class="nav-colophon-0${item_num} inline-li">
                                        <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
                                    </li>
                                    % endfor

                                    <li class="nav-colophon-03 inline-li">
                                       <!-- <a id="support" href="/support">Центр поддержки пользователей</a>-->
                                    </li>
                              </ul>
                 </nav>


            </div>
            <div class="copy-div">
                <p class="copyright">ФГАОУ ВО «УрФУ имени первого Президента России Б.Н.Ельцина»</p>
                <p class="copyright">Институт технологий открытого образования</p>
                
                <nav class="nav-legal" aria-label="${_('Legal')}">
                    <ul>
                    % for item_num, link in enumerate(footer['legal_links'], start=1):
                        <li class="nav-legal-0${item_num}">
                        <a href="${link['url']}">${link['title']}</a>
                        </li>
                    % endfor
                        <li class="nav-legal-01 inline-li">
                            <a id="tech" href="/tech">Технические требования</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="social-link">
             <ul class="list-inline-social list-unstyled social">
                    % for link in footer['social_links']:
                    <li>
                        <a href="${link['url']}" class="social-links external" title="${link['title']}" rel="noreferrer">
                            <span class="icon fa ${link['icon-class']}" aria-hidden="true"></span>
                            <span class="sr">${link['action']}</span>
                        </a>
                    </li>
                    % endfor
             </ul>
              <div class="openedx-link">
                <a href="${footer['openedx_link']['url']}" title="${footer['openedx_link']['title']}">
                  <img alt="${footer['openedx_link']['title']}" src="${footer['openedx_link']['image']}" width="100">
                </a>
            </div>
        </div>
    </div>
</div>


</footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif

% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif

